article>header>img {
    max-height: 2rem;
}

article .fa-star:hover,
article .fa-comment:hover {
    cursor: pointer;
}

footer p {
    text-align: center;
}

a.active {
    color: #ff0000 !important;
}